.container {
    width: 100%;
    display: flex;
}

.genres {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.books {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.books-cont{
    width:80%;
    margin:0% auto;
}

.single-book{
    flex:1;
  
}

.book_cover{
    
    max-width:200%;
}